@charset 'utf-8';

/* ====================
[links]
======================= */
@import url('default.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


/* ====================
[variables]
======================= */
:root {
    --black: rgba(20, 20, 20);
    --grey: rgba(150, 150, 150);
    --lightGrey: rgba(190, 190, 190);
    --bgLightGrey: rgba(245, 245, 245);
}

/* ====================
[modules]
======================= */


/* ====================
[layouts & styles]
======================= */
/* global */
html { font-family: helvetica, sans-serif; color: var(--black); }

/* header & hero */
.header { width: 100%; height: 80px; position: fixed; top: 0; z-index: 10; }
.header--active { background: rgba(255, 255, 255, 0.1); backdrop-filter: saturate(180%) blur(15px); -webkit-backdrop-filter: saturate(180%) blur(15px); }
.header-container { width: 100%; max-width: 1440px; margin: 0 auto; height: 100%; padding: 0 3rem; display: flex; justify-content: space-between; align-items: center; }
.logo-img { max-width: 125px; padding: 5px; }
.menu-btn { background: none; cursor: pointer; outline: none; border: none; display: none; }
.menu-icn { font-size: 2rem; }
.menu-group { display: flex; }
.menu-link { text-decoration: none; color: var(--black); padding: 5px; position: relative; }
.menu-link::after { content: ''; position: absolute; top: 100%; left: 0; width: 100%; height: 2px; background-color: var(--black); transform: scaleX(0); transform-origin: left; transition: transform 0.3s ease-in-out; }
.menu-link:hover::after { transform: scaleX(1); }
.menu-item:not(:first-of-type) { margin-left: 3rem; }

.hero { background-image: url(../img/main-hero.jpg); width: 100%; height: 100vh; background-size: cover; background-position: center; background-repeat: no-repeat; display: flex;  align-items: center; justify-content: center; }
.hero-text { width: 100%; max-width: 1440px; padding: 0 3rem; color: white; font-size: 7rem; font-weight: bold; line-height: 1.1; opacity: 0.9; }

@media only screen and (max-width: 800px) {
    .menu-btn { position: absolute; right: 2rem; display: block; }

    .nav { position: absolute; top: 100%; right: 0; transform: translateX(100%); transform-origin: right; transition: transform 0.3s ease-in-out; }
    .nav--active { transform: translateX(0); }
    .menu-group { flex-direction: column; align-items: center; }
    .menu-item { width: 100%; text-align: center; }
    .menu-item:not(:first-of-type) { margin-left: 0; }
    .menu-link { display: block; padding: 1rem; background-color: rgba(255, 255, 255, 0.5); border-bottom: 1px solid var(--grey); }
    .menu-link:hover { background-color: rgba(255, 255, 255, 0.7) }
    
    .hero-text { font-size: 5rem; }
}
@media only screen and (max-width: 500px ) {
    .hero-text { font-size: 4rem; }
}

/* section */
.section-title { font-family: 'Lobster', cursive; text-align: center; font-size: 4rem; font-weight: bold; position: relative; margin: 7rem 0; }
.section-title::after { content: ''; width: 50px; height: 2px; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); background: var(--black); }
.section-subtitle { font-family: 'Lobster', cursive; font-size: 2.5rem; margin-bottom: 0.5rem; }
.section-subtext { font-size: 1rem; margin-bottom: 1rem; font-style: italic; color: grey; }

/* about */

/* about - service */
.about-service { width: 100%; max-width: 1440px; margin: 0 auto; background-color: var(--bgLightGrey); display: flex; }
.service-container { padding: 5rem 3rem; width: 50%; }
.service-group { list-style: disc; margin-left: 2rem; font-size: 1.2rem; }
.service-item { padding: 0.5rem 0; }
.service-img { width: 50%; object-position: center; object-fit: cover; }

/* about - team */
.about-team { width: 100%; max-width: 1440px; margin: 0 auto; padding: 5rem 3rem; }
.team-container { display: flex; justify-content: space-evenly; flex-wrap: wrap; padding: 1rem; }
.team-item { text-align: center; padding: 2rem 3rem; background-color: var(--bgLightGrey); margin: 1rem; border-radius: 1rem; }
.team-icon { font-size: 10rem; margin-bottom: 1rem; color: var(--grey); }
.team-name { font-family: 'Lobster', cursive; font-size: 1.3rem; margin-bottom: 10px; }
.team-position { color: var(--grey); }

/* about -who */
.about-who { background-image: url(../img/about-who-fixed.jpg); background-position: center; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; -webkit-background-attachment: fixed; display: flex; align-items: center; justify-content: center; text-align: center; }
.about-who-text { width: 100%; max-width: 1440px; font-family: 'Lobster', cursive; color: white; font-size: 5rem; font-weight: bold; line-height: 1.1; opacity: 0.9; padding: 8rem 3rem; }

@media only screen and (max-width: 800px) {
    .section-title { font-size: 3.5rem; }
    .section-subtitle { font-size: 2rem; }
    .section-subtext { font-size: 0.9rem; }

    .about-service { flex-direction: column; }
    .service-container { width: 100vw; }
    .service-group { font-size: 1rem; }
    .service-img { width: 100%; }

    .about-who { background-position: 60% 50%; }
    .about-who-text { font-size: 4rem; }
}
@media only screen and (max-width: 500px ) {
    .about-who { background-position: 65% 50%; }
    .about-who-text { font-size: 3rem; }
}

/* partners */
.partners-wrapper { background-color: var(--bgLightGrey); }
.partners-container { width: 100%; max-width: 1440px; margin: 0 auto; display: flex; flex-wrap: wrap; justify-content: space-evenly; }
.partners-item { width: 130px; height: 130px; display: flex; justify-content: center; align-items: center; margin: 2rem; }